.footer-color {
    background-color: black;
}

.adjust-margin-top {
    margin-top: 50px;
}

.section-list {
    text-align: center;
}

input {
    max-width: 280px;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}