.footer-color {
    background-color: black;
}

.adjust-margin-top {
    margin-top: 50px;
}

.section-list {
    text-align: center;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.center-text {
    text-align: center;
}

.round-border {
    border: 2px solid;
    border-radius: 12px;
}

.input-center {
    margin: 0 auto; 
    max-width: 100%;
}

.width-adjust-60 {
    margin: 0 auto;
    max-width: 60%;
}

.error {
    color: red;
}

.info {
    color: green;
}