{% extends "forum/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <form method="post" action="{% url 'forum:login' %}">
        {% csrf_token %}
        <div style="margin-top: 50px" class="center-text input-center">
            {% if info %}
                <div class="info">{{ info }}</div><br>
            {% endif %}
            <b>Login:</b><input class="form-control" type="text" name="login" value="{{ valid.login }}">
            {% if errors.login %}
                <div class="error">{{ errors.login }}</div>
            {% endif %}
            <br><b>Password:</b><input class="form-control" type="password" name="password">
            {% if errors.password %}
                <div class="error">{{ errors.password }}</div>
            {% endif %}
            <br><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Register</button>
            {% if errors.bad_login_or_password %}
                <br><br><div class="error">{{ errors.bad_login_or_password }}</div>
            {% endif %}
        </div>
    </form>

{% endblock %}

{% block side %}{% endblock %}