{% extends "forum/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <form method="post" action="{% url 'forum:login' %}" novalidate>
        {% csrf_token %}
        <div class="center-text width-adjust-60">
            {% for field in form %}
                <b>{{ field.label_tag }}</b><br>
                {{ field }}
                {% for error in field.errors %}
                    <div class="error">{{ error | escape }}</div>
                {% endfor %}<br>
            {% endfor %}
            <br><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
            {% if error %}
                <br><br><div class="error">{{ error }}</div>
            {% endif %}
            {% if request.session.info == 'True' %}
                <br><br><div class="info">Your account is ready. You can log in now.</div>
            {% endif %}
        </div>
    </form>

{% endblock %}

{% block side %}{% endblock %}