{% load staticfiles %}
<!DOCTYPE>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'css/bootstrap-grid.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-reboot.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/forum.css' %}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'forum:section_list' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Section
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if request.session.user %}
                        <a class="dropdown-item" href="{% url 'forum:add_section' %}">Add new section</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'forum:section_list' %}">Find new section</a>
                        {% if request.session.user %}
                        <a class="dropdown-item" href="#">Show subscribed sections</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Something else?</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-right">
                {% if not request.session.user   %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'forum:login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'forum:register' %}">Register</a>
                    </li>
                {% else %}
                    <li class="nax-item">
                        <a class="nav-link" href="{% url 'forum:logout' %}">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row adjust-margin-top">
            <div class="col-7">
                {% block content %}{% endblock %}
            </div>
            <div class="col-1"></div>
            <div class="col-4">
                {% block side %}{% endblock %}
            </div>
        </div>
    </div>
    <footer class="footer fixed-bottom footer-color">
        <div class="container text-center">
            <span class="text-muted">Created by Marcin Imielski</span>
        </div>
    </footer>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>