{% extends "forum/base.html" %}

{% block title %}{{ section.name }}{% endblock %}

{% block content %}
  <br>
  <hr>
  {% if topics %}
    {% for topic in topics %}
    <a href="{% url 'forum:topic_view' section.name topic.title%}">
      <p style="float: right">
        {{ topic.created | date:'Y-m-d H:i' }}
      </p>
      <p style="float: left">
        {{ topic.owner }}
      </p>
      <br><br>
      <div>
        <p class="section-list">
            {{ topic.title }}
        </p>
      </div>
    </a>
    <hr>
    {% endfor %}
    <div class="center-text">
      {% include "pagination.html" with page=topics %}
    </div>
  {% else %}
    <p class="center-text">No topics yet</p>
  {% endif %}  
{% endblock %}

{% block side %}
    <div class="center-text adjust-margin-top">
      <b>Section:</b> {{ section.name }}<br>
      <b>Owner: </b> {{ section.owner }}<br>
      <b>Description:</b> {{ section.description }}<br><br>
      <form method="post" action="">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Subscribe</button>
      </form>
      <form method="post" action="">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add topic</button>
      </form>
    </div>
{% endblock %}