{% extends "forum/base.html" %}

{% block title %}{{ sectionName }}{% endblock %}

{% block content %}
  <h2 style="text-align: center">Topics for section: {{ sectionName }}</h2>
  <br>
  <hr>
  {% if topics %}
    {% for topic in topics %}
    <a href="#">
      <p style="float: right">
        {{ topic.created | date:'Y-m-d H:i' }}
      </p>
      <p style="float: left">
        {{ topic.owner }}
      </p>
      <br><br>
      <div>
        <p class="section-list">
            {{ topic.title }}
        </p>
      </div>
    </a>
    <hr>
    {% endfor %}
    <div class="paginator-section">
      {% include "pagination.html" with page=topics %}
    </div>
  {% else %}
    <p class="paginator-section">No topics yet</p>
  {% endif %}  
{% endblock %}

{% block side %}
  hehe
{% endblock %}