{% extends "forum/base.html" %}

{% block title %}New topics{% endblock %}

{% block content %}
    <br>
    <hr>
    {% if topics %}
        {% for topic in topics %}
        <p style="float: left; width: 32%; text-align: left;">
            {{ topic.created | date:'Y-m-d H:i' }}
        </p>
        <a style="float: left; width: 32%; text-align: center;" href="{% url 'forum:topic_list' topic.section.name %}">
            {{ topic.section.name }}
        </a>
        <a style="float: left; width: 32%; text-align: right;" href="{% url 'forum:profile' topic.owner %}">
            {{ topic.owner }}
        </a>
        <br><br>
        <p style="float: left; width: 32%; text-align: left;">
            {% if topic.votes < 0 %}
            <span style="color: red;">
            {% elif topic.votes = 0 %}
            <span>
            {% else %}
            <span style="color: green;">
            {% endif %}
                {{ topic.votes }}
            </span>
        </p>
        <a style="float: left; width: 32%; text-align: center;" href="{% url 'forum:topic_view' topic.section.name topic.title%}">
        <div>
            <p class="section-list">
                {{ topic.title }}
            </p>
        </div>
        </a>
        <div style="float: left; width: 32%; text-align: right;">
        </div><br>
        <hr>
        {% endfor %}
        <div class="center-text">
            {% include "pagination.html" with page=topics %}
        </div>
    {% else %}
        <p class="center-text adjust-margin-top">
            There are no topics in your subscribtions
        </p>
    {% endif %}
{% endblock %}

{% block side %}

{% endblock %}