{% extends 'forum/base.html' %}

{% block title %}Add section{% endblock %}

{% block content %}
    <form method="post" action="{% url 'forum:add_section' %}">
        {% csrf_token %}
        <div class="center-text input-center">
            <b>Name:</b> <input class="form-control" type="text" aria-label="Name" name="name" value="{{ valid.name }}">
            {% if errors.name %}
                <div class="error">{{ errors.name }}</div>
            {% endif %}
            <br><b>Description:</b><textarea rows="3" class="form-control" name="description" value="{{ valid.description }}"></textarea>
            {% if errors.description %}
                <div class="error">{{ errors.description }}</div>
            {% endif %}
            <br><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add section</button>
        </div>
    </form>
{% endblock %}


{% block side %}

{% endblock %}