{% extends "forum/base.html" %}

{% block title %}Find section{% endblock %}

{% block content %}
  <form method="get" action="{% url 'forum:section_list' %}">
    <div class="input-group">
      <input class="form-control" type="search" placeholder="Search for section" aria-label="Search" name="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </div>
  </form>
  <br>
  {% for section in sections %}
  <a href="{% url 'forum:topic_list' section.name %}">
      <p class="section-list">
        {{ section.name }}
      </p>
    </a>
      <hr>
  {% endfor %}
  {% if sections %}
    <div class="center-text">
      {% include "pagination.html" with page=sections get_from_section=True %}
    </div>
  {% endif %}
{% endblock %}

{% block side %}
  {% if add == 'True' %}
    <form method="post" action="{% url 'forum:section_list' %}">
        {% csrf_token %}
      <div class="center-text input-center">
        <input type="hidden" name="checker" value="True">
        {% for field in form %}
          <b>{{ field.label_tag }}</b><br>
          {{ field }}
          {% for error in field.errors %}
            <div class="error">{{ error | escape }}</div>
          {% endfor %}<br>
        {% endfor %}
        <br><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add section</button>
      </div>
    </form>
  {% else %}
    <div class="center-text">
      <form method="post" action="{% url 'forum:section_list' %}">
        {% csrf_token %}
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add section</button>
      </form>
    </div>
  {% endif %}
{% endblock %}